@media (max-width:480px){
    /* Snowflake #1 */
    .snowflake:nth-of-type(1) {
        animation-name: snowflake-1;
        animation-delay: 7s;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        left: 90%;
        top: -51%;
    }
    .snowflake:nth-of-type(1):after {
        font-size: 8px;
    }
    @keyframes snowflake-1 {
        0% {
            transform: rotate(0deg);
            left: 90%;
            top: -51%;
        }
        25% {
            left: 91%;
        }
        50% {
            left: 90%;
        }
        75% {
            left: 92%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 91%;
            opacity: 0;
        }
    }
    /* Snowflake #2 */
    .snowflake:nth-of-type(2) {
        animation-name: snowflake-2;
        animation-delay: 9s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        left: 85%;
        top: -62%;
    }
    .snowflake:nth-of-type(2):after {
        font-size: 1px;
    }
    @keyframes snowflake-2 {
        0% {
            transform: rotate(0deg);
            left: 85%;
            top: -62%;
        }
        25% {
            left: 86%;
        }
        50% {
            left: 85%;
        }
        75% {
            left: 87%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 102%;
            opacity: 0;
        }
    }
    /* Snowflake #3 */
    .snowflake:nth-of-type(3) {
        animation-name: snowflake-3;
        animation-delay: 0s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 86%;
        top: -74%;
    }
    .snowflake:nth-of-type(3):after {
        font-size: 5px;
    }
    @keyframes snowflake-3 {
        0% {
            transform: rotate(0deg);
            left: 86%;
            top: -74%;
        }
        25% {
            left: 87%;
        }
        50% {
            left: 86%;
        }
        75% {
            left: 88%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 114%;
            opacity: 0;
        }
    }
    /* Snowflake #4 */
    .snowflake:nth-of-type(4) {
        animation-name: snowflake-4;
        animation-delay: 16s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 22%;
        top: -90%;
    }
    .snowflake:nth-of-type(4):after {
        font-size: 21px;
    }
    @keyframes snowflake-4 {
        0% {
            transform: rotate(0deg);
            left: 22%;
            top: -90%;
        }
        25% {
            left: 23%;
        }
        50% {
            left: 22%;
        }
        75% {
            left: 24%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 130%;
            opacity: 0;
        }
    }
    /* Snowflake #5 */
    .snowflake:nth-of-type(5) {
        animation-name: snowflake-5;
        animation-delay: 13s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        left: 100%;
        top: -84%;
    }
    .snowflake:nth-of-type(5):after {
        font-size: 17px;
    }
    @keyframes snowflake-5 {
        0% {
            transform: rotate(0deg);
            left: 100%;
            top: -84%;
        }
        25% {
            left: 101%;
        }
        50% {
            left: 100%;
        }
        75% {
            left: 102%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 124%;
            opacity: 0;
        }
    }
    /* Snowflake #6 */
    .snowflake:nth-of-type(6) {
        animation-name: snowflake-6;
        animation-delay: 3s;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        left: 38%;
        top: -64%;
    }
    .snowflake:nth-of-type(6):after {
        font-size: 16px;
    }
    @keyframes snowflake-6 {
        0% {
            transform: rotate(0deg);
            left: 38%;
            top: -64%;
        }
        25% {
            left: 39%;
        }
        50% {
            left: 38%;
        }
        75% {
            left: 40%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 104%;
            opacity: 0;
        }
    }
    /* Snowflake #7 */
    .snowflake:nth-of-type(7) {
        animation-name: snowflake-7;
        animation-delay: 9s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 75%;
        top: -99%;
    }
    .snowflake:nth-of-type(7):after {
        font-size: 18px;
    }
    @keyframes snowflake-7 {
        0% {
            transform: rotate(0deg);
            left: 75%;
            top: -99%;
        }
        25% {
            left: 76%;
        }
        50% {
            left: 75%;
        }
        75% {
            left: 77%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 139%;
            opacity: 0;
        }
    }
    /* Snowflake #8 */
    .snowflake:nth-of-type(8) {
        animation-name: snowflake-8;
        animation-delay: 3s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 32%;
        top: -63%;
    }
    .snowflake:nth-of-type(8):after {
        font-size: 19px;
    }
    @keyframes snowflake-8 {
        0% {
            transform: rotate(0deg);
            left: 32%;
            top: -63%;
        }
        25% {
            left: 33%;
        }
        50% {
            left: 32%;
        }
        75% {
            left: 34%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 103%;
            opacity: 0;
        }
    }
    /* Snowflake #9 */
    .snowflake:nth-of-type(9) {
        animation-name: snowflake-9;
        animation-delay: 6s;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        left: 28%;
        top: -62%;
    }
    .snowflake:nth-of-type(9):after {
        font-size: 11px;
    }
    @keyframes snowflake-9 {
        0% {
            transform: rotate(0deg);
            left: 28%;
            top: -62%;
        }
        25% {
            left: 29%;
        }
        50% {
            left: 28%;
        }
        75% {
            left: 30%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 102%;
            opacity: 0;
        }
    }
    /* Snowflake #10 */
    .snowflake:nth-of-type(10) {
        animation-name: snowflake-10;
        animation-delay: 13s;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        left: 29%;
        top: -58%;
    }
    .snowflake:nth-of-type(10):after {
        font-size: 4px;
    }
    @keyframes snowflake-10 {
        0% {
            transform: rotate(0deg);
            left: 29%;
            top: -58%;
        }
        25% {
            left: 30%;
        }
        50% {
            left: 29%;
        }
        75% {
            left: 31%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 98%;
            opacity: 0;
        }
    }
    /* Snowflake #11 */
    .snowflake:nth-of-type(11) {
        animation-name: snowflake-11;
        animation-delay: 0s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 77%;
        top: -96%;
    }
    .snowflake:nth-of-type(11):after {
        font-size: 1px;
    }
    @keyframes snowflake-11 {
        0% {
            transform: rotate(0deg);
            left: 77%;
            top: -96%;
        }
        25% {
            left: 78%;
        }
        50% {
            left: 77%;
        }
        75% {
            left: 79%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 136%;
            opacity: 0;
        }
    }
    /* Snowflake #12 */
    .snowflake:nth-of-type(12) {
        animation-name: snowflake-12;
        animation-delay: 0s;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        left: 1%;
        top: -62%;
    }
    .snowflake:nth-of-type(12):after {
        font-size: 21px;
    }
    @keyframes snowflake-12 {
        0% {
            transform: rotate(0deg);
            left: 1%;
            top: -62%;
        }
        25% {
            left: 2%;
        }
        50% {
            left: 1%;
        }
        75% {
            left: 3%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 102%;
            opacity: 0;
        }
    }
    /* Snowflake #13 */
    .snowflake:nth-of-type(13) {
        animation-name: snowflake-13;
        animation-delay: 14s;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        left: 100%;
        top: -99%;
    }
    .snowflake:nth-of-type(13):after {
        font-size: 15px;
    }
    @keyframes snowflake-13 {
        0% {
            transform: rotate(0deg);
            left: 100%;
            top: -99%;
        }
        25% {
            left: 101%;
        }
        50% {
            left: 100%;
        }
        75% {
            left: 102%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 139%;
            opacity: 0;
        }
    }
    /* Snowflake #14 */
    .snowflake:nth-of-type(14) {
        animation-name: snowflake-14;
        animation-delay: 3s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 67%;
        top: -75%;
    }
    .snowflake:nth-of-type(14):after {
        font-size: 14px;
    }
    @keyframes snowflake-14 {
        0% {
            transform: rotate(0deg);
            left: 67%;
            top: -75%;
        }
        25% {
            left: 68%;
        }
        50% {
            left: 67%;
        }
        75% {
            left: 69%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 115%;
            opacity: 0;
        }
    }
    /* Snowflake #15 */
    .snowflake:nth-of-type(15) {
        animation-name: snowflake-15;
        animation-delay: 14s;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        left: 93%;
        top: -68%;
    }
    .snowflake:nth-of-type(15):after {
        font-size: 21px;
    }
    @keyframes snowflake-15 {
        0% {
            transform: rotate(0deg);
            left: 93%;
            top: -68%;
        }
        25% {
            left: 94%;
        }
        50% {
            left: 93%;
        }
        75% {
            left: 95%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 108%;
            opacity: 0;
        }
    }
    /* Snowflake #16 */
    .snowflake:nth-of-type(16) {
        animation-name: snowflake-16;
        animation-delay: 16s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        left: 91%;
        top: -60%;
    }
    .snowflake:nth-of-type(16):after {
        font-size: 4px;
    }
    @keyframes snowflake-16 {
        0% {
            transform: rotate(0deg);
            left: 91%;
            top: -60%;
        }
        25% {
            left: 92%;
        }
        50% {
            left: 91%;
        }
        75% {
            left: 93%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 100%;
            opacity: 0;
        }
    }
    /* Snowflake #17 */
    .snowflake:nth-of-type(17) {
        animation-name: snowflake-17;
        animation-delay: 6s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 93%;
        top: -69%;
    }
    .snowflake:nth-of-type(17):after {
        font-size: 2px;
    }
    @keyframes snowflake-17 {
        0% {
            transform: rotate(0deg);
            left: 93%;
            top: -69%;
        }
        25% {
            left: 94%;
        }
        50% {
            left: 93%;
        }
        75% {
            left: 95%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 109%;
            opacity: 0;
        }
    }
    /* Snowflake #18 */
    .snowflake:nth-of-type(18) {
        animation-name: snowflake-18;
        animation-delay: 12s;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        left: 40%;
        top: -97%;
    }
    .snowflake:nth-of-type(18):after {
        font-size: 15px;
    }
    @keyframes snowflake-18 {
        0% {
            transform: rotate(0deg);
            left: 40%;
            top: -97%;
        }
        25% {
            left: 41%;
        }
        50% {
            left: 40%;
        }
        75% {
            left: 42%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 137%;
            opacity: 0;
        }
    }
    /* Snowflake #19 */
    .snowflake:nth-of-type(19) {
        animation-name: snowflake-19;
        animation-delay: 2s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        left: 3%;
        top: -51%;
    }
    .snowflake:nth-of-type(19):after {
        font-size: 3px;
    }
    @keyframes snowflake-19 {
        0% {
            transform: rotate(0deg);
            left: 3%;
            top: -51%;
        }
        25% {
            left: 4%;
        }
        50% {
            left: 3%;
        }
        75% {
            left: 5%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 91%;
            opacity: 0;
        }
    }
    /* Snowflake #20 */
    .snowflake:nth-of-type(20) {
        animation-name: snowflake-20;
        animation-delay: 18s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        left: 81%;
        top: -56%;
    }
    .snowflake:nth-of-type(20):after {
        font-size: 10px;
    }
    @keyframes snowflake-20 {
        0% {
            transform: rotate(0deg);
            left: 81%;
            top: -56%;
        }
        25% {
            left: 82%;
        }
        50% {
            left: 81%;
        }
        75% {
            left: 83%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 96%;
            opacity: 0;
        }
    }
    /* Snowflake #21 */
    .snowflake:nth-of-type(21) {
        animation-name: snowflake-21;
        animation-delay: 15s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        left: 71%;
        top: -55%;
    }
    .snowflake:nth-of-type(21):after {
        font-size: 10px;
    }
    @keyframes snowflake-21 {
        0% {
            transform: rotate(0deg);
            left: 71%;
            top: -55%;
        }
        25% {
            left: 72%;
        }
        50% {
            left: 71%;
        }
        75% {
            left: 73%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 95%;
            opacity: 0;
        }
    }
    /* Snowflake #22 */
    .snowflake:nth-of-type(22) {
        animation-name: snowflake-22;
        animation-delay: 13s;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        left: 47%;
        top: -64%;
    }
    .snowflake:nth-of-type(22):after {
        font-size: 24px;
    }
    @keyframes snowflake-22 {
        0% {
            transform: rotate(0deg);
            left: 47%;
            top: -64%;
        }
        25% {
            left: 48%;
        }
        50% {
            left: 47%;
        }
        75% {
            left: 49%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 104%;
            opacity: 0;
        }
    }
    /* Snowflake #23 */
    .snowflake:nth-of-type(23) {
        animation-name: snowflake-23;
        animation-delay: 7s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        left: 98%;
        top: -94%;
    }
    .snowflake:nth-of-type(23):after {
        font-size: 11px;
    }
    @keyframes snowflake-23 {
        0% {
            transform: rotate(0deg);
            left: 98%;
            top: -94%;
        }
        25% {
            left: 99%;
        }
        50% {
            left: 98%;
        }
        75% {
            left: 100%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 134%;
            opacity: 0;
        }
    }
    /* Snowflake #24 */
    .snowflake:nth-of-type(24) {
        animation-name: snowflake-24;
        animation-delay: 18s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 16%;
        top: -76%;
    }
    .snowflake:nth-of-type(24):after {
        font-size: 6px;
    }
    @keyframes snowflake-24 {
        0% {
            transform: rotate(0deg);
            left: 16%;
            top: -76%;
        }
        25% {
            left: 17%;
        }
        50% {
            left: 16%;
        }
        75% {
            left: 18%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 116%;
            opacity: 0;
        }
    }
    /* Snowflake #25 */
    .snowflake:nth-of-type(25) {
        animation-name: snowflake-25;
        animation-delay: 17s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 18%;
        top: -57%;
    }
    .snowflake:nth-of-type(25):after {
        font-size: 4px;
    }
    @keyframes snowflake-25 {
        0% {
            transform: rotate(0deg);
            left: 18%;
            top: -57%;
        }
        25% {
            left: 19%;
        }
        50% {
            left: 18%;
        }
        75% {
            left: 20%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 97%;
            opacity: 0;
        }
    }
    /* Snowflake #26 */
    .snowflake:nth-of-type(26) {
        animation-name: snowflake-26;
        animation-delay: 11s;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        left: 69%;
        top: -60%;
    }
    .snowflake:nth-of-type(26):after {
        font-size: 12px;
    }
    @keyframes snowflake-26 {
        0% {
            transform: rotate(0deg);
            left: 69%;
            top: -60%;
        }
        25% {
            left: 70%;
        }
        50% {
            left: 69%;
        }
        75% {
            left: 71%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 100%;
            opacity: 0;
        }
    }
    /* Snowflake #27 */
    .snowflake:nth-of-type(27) {
        animation-name: snowflake-27;
        animation-delay: 7s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 25%;
        top: -74%;
    }
    .snowflake:nth-of-type(27):after {
        font-size: 16px;
    }
    @keyframes snowflake-27 {
        0% {
            transform: rotate(0deg);
            left: 25%;
            top: -74%;
        }
        25% {
            left: 26%;
        }
        50% {
            left: 25%;
        }
        75% {
            left: 27%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 114%;
            opacity: 0;
        }
    }
    /* Snowflake #28 */
    .snowflake:nth-of-type(28) {
        animation-name: snowflake-28;
        animation-delay: 16s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 72%;
        top: -75%;
    }
    .snowflake:nth-of-type(28):after {
        font-size: 15px;
    }
    @keyframes snowflake-28 {
        0% {
            transform: rotate(0deg);
            left: 72%;
            top: -75%;
        }
        25% {
            left: 73%;
        }
        50% {
            left: 72%;
        }
        75% {
            left: 74%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 115%;
            opacity: 0;
        }
    }
    /* Snowflake #29 */
    .snowflake:nth-of-type(29) {
        animation-name: snowflake-29;
        animation-delay: 3s;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        left: 40%;
        top: -67%;
    }
    .snowflake:nth-of-type(29):after {
        font-size: 10px;
    }
    @keyframes snowflake-29 {
        0% {
            transform: rotate(0deg);
            left: 40%;
            top: -67%;
        }
        25% {
            left: 41%;
        }
        50% {
            left: 40%;
        }
        75% {
            left: 42%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 107%;
            opacity: 0;
        }
    }
    /* Snowflake #30 */
    .snowflake:nth-of-type(30) {
        animation-name: snowflake-30;
        animation-delay: 5s;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        left: 4%;
        top: -75%;
    }
    .snowflake:nth-of-type(30):after {
        font-size: 19px;
    }
    @keyframes snowflake-30 {
        0% {
            transform: rotate(0deg);
            left: 4%;
            top: -75%;
        }
        25% {
            left: 5%;
        }
        50% {
            left: 4%;
        }
        75% {
            left: 6%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 115%;
            opacity: 0;
        }
    }
    /* Snowflake #31 */
    .snowflake:nth-of-type(31) {
        animation-name: snowflake-31;
        animation-delay: 6s;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        left: 82%;
        top: -56%;
    }
    .snowflake:nth-of-type(31):after {
        font-size: 7px;
    }
    @keyframes snowflake-31 {
        0% {
            transform: rotate(0deg);
            left: 82%;
            top: -56%;
        }
        25% {
            left: 83%;
        }
        50% {
            left: 82%;
        }
        75% {
            left: 84%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 96%;
            opacity: 0;
        }
    }
    /* Snowflake #32 */
    .snowflake:nth-of-type(32) {
        animation-name: snowflake-32;
        animation-delay: 11s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 82%;
        top: -62%;
    }
    .snowflake:nth-of-type(32):after {
        font-size: 24px;
    }
    @keyframes snowflake-32 {
        0% {
            transform: rotate(0deg);
            left: 82%;
            top: -62%;
        }
        25% {
            left: 83%;
        }
        50% {
            left: 82%;
        }
        75% {
            left: 84%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 102%;
            opacity: 0;
        }
    }
    /* Snowflake #33 */
    .snowflake:nth-of-type(33) {
        animation-name: snowflake-33;
        animation-delay: 7s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 21%;
        top: -73%;
    }
    .snowflake:nth-of-type(33):after {
        font-size: 3px;
    }
    @keyframes snowflake-33 {
        0% {
            transform: rotate(0deg);
            left: 21%;
            top: -73%;
        }
        25% {
            left: 22%;
        }
        50% {
            left: 21%;
        }
        75% {
            left: 23%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 113%;
            opacity: 0;
        }
    }
    /* Snowflake #34 */
    .snowflake:nth-of-type(34) {
        animation-name: snowflake-34;
        animation-delay: 2s;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        left: 66%;
        top: -86%;
    }
    .snowflake:nth-of-type(34):after {
        font-size: 8px;
    }
    @keyframes snowflake-34 {
        0% {
            transform: rotate(0deg);
            left: 66%;
            top: -86%;
        }
        25% {
            left: 67%;
        }
        50% {
            left: 66%;
        }
        75% {
            left: 68%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 126%;
            opacity: 0;
        }
    }
    /* Snowflake #35 */
    .snowflake:nth-of-type(35) {
        animation-name: snowflake-35;
        animation-delay: 0s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 12%;
        top: -70%;
    }
    .snowflake:nth-of-type(35):after {
        font-size: 18px;
    }
    @keyframes snowflake-35 {
        0% {
            transform: rotate(0deg);
            left: 12%;
            top: -70%;
        }
        25% {
            left: 13%;
        }
        50% {
            left: 12%;
        }
        75% {
            left: 14%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 110%;
            opacity: 0;
        }
    }
    /* Snowflake #36 */
    .snowflake:nth-of-type(36) {
        animation-name: snowflake-36;
        animation-delay: 16s;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        left: 37%;
        top: -57%;
    }
    .snowflake:nth-of-type(36):after {
        font-size: 14px;
    }
    @keyframes snowflake-36 {
        0% {
            transform: rotate(0deg);
            left: 37%;
            top: -57%;
        }
        25% {
            left: 38%;
        }
        50% {
            left: 37%;
        }
        75% {
            left: 39%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 97%;
            opacity: 0;
        }
    }
    /* Snowflake #37 */
    .snowflake:nth-of-type(37) {
        animation-name: snowflake-37;
        animation-delay: 15s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 46%;
        top: -100%;
    }
    .snowflake:nth-of-type(37):after {
        font-size: 15px;
    }
    @keyframes snowflake-37 {
        0% {
            transform: rotate(0deg);
            left: 46%;
            top: -100%;
        }
        25% {
            left: 47%;
        }
        50% {
            left: 46%;
        }
        75% {
            left: 48%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 140%;
            opacity: 0;
        }
    }
    /* Snowflake #38 */
    .snowflake:nth-of-type(38) {
        animation-name: snowflake-38;
        animation-delay: 2s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 40%;
        top: -64%;
    }
    .snowflake:nth-of-type(38):after {
        font-size: 20px;
    }
    @keyframes snowflake-38 {
        0% {
            transform: rotate(0deg);
            left: 40%;
            top: -64%;
        }
        25% {
            left: 41%;
        }
        50% {
            left: 40%;
        }
        75% {
            left: 42%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 104%;
            opacity: 0;
        }
    }
    /* Snowflake #39 */
    .snowflake:nth-of-type(39) {
        animation-name: snowflake-39;
        animation-delay: 18s;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        left: 65%;
        top: -96%;
    }
    .snowflake:nth-of-type(39):after {
        font-size: 3px;
    }
    @keyframes snowflake-39 {
        0% {
            transform: rotate(0deg);
            left: 65%;
            top: -96%;
        }
        25% {
            left: 66%;
        }
        50% {
            left: 65%;
        }
        75% {
            left: 67%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 136%;
            opacity: 0;
        }
    }
    /* Snowflake #40 */
    .snowflake:nth-of-type(40) {
        animation-name: snowflake-40;
        animation-delay: 5s;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        left: 88%;
        top: -80%;
    }
    .snowflake:nth-of-type(40):after {
        font-size: 2px;
    }
    @keyframes snowflake-40 {
        0% {
            transform: rotate(0deg);
            left: 88%;
            top: -80%;
        }
        25% {
            left: 89%;
        }
        50% {
            left: 88%;
        }
        75% {
            left: 90%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 120%;
            opacity: 0;
        }
    }
    /* Snowflake #41 */
    .snowflake:nth-of-type(41) {
        animation-name: snowflake-41;
        animation-delay: 12s;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        left: 92%;
        top: -87%;
    }
    .snowflake:nth-of-type(41):after {
        font-size: 14px;
    }
    @keyframes snowflake-41 {
        0% {
            transform: rotate(0deg);
            left: 92%;
            top: -87%;
        }
        25% {
            left: 93%;
        }
        50% {
            left: 92%;
        }
        75% {
            left: 94%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 127%;
            opacity: 0;
        }
    }
    /* Snowflake #42 */
    .snowflake:nth-of-type(42) {
        animation-name: snowflake-42;
        animation-delay: 11s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 65%;
        top: -56%;
    }
    .snowflake:nth-of-type(42):after {
        font-size: 15px;
    }
    @keyframes snowflake-42 {
        0% {
            transform: rotate(0deg);
            left: 65%;
            top: -56%;
        }
        25% {
            left: 66%;
        }
        50% {
            left: 65%;
        }
        75% {
            left: 67%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 96%;
            opacity: 0;
        }
    }
    /* Snowflake #43 */
    .snowflake:nth-of-type(43) {
        animation-name: snowflake-43;
        animation-delay: 1s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 6%;
        top: -96%;
    }
    .snowflake:nth-of-type(43):after {
        font-size: 15px;
    }
    @keyframes snowflake-43 {
        0% {
            transform: rotate(0deg);
            left: 6%;
            top: -96%;
        }
        25% {
            left: 7%;
        }
        50% {
            left: 6%;
        }
        75% {
            left: 8%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 136%;
            opacity: 0;
        }
    }
    /* Snowflake #44 */
    .snowflake:nth-of-type(44) {
        animation-name: snowflake-44;
        animation-delay: 12s;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        left: 7%;
        top: -99%;
    }
    .snowflake:nth-of-type(44):after {
        font-size: 22px;
    }
    @keyframes snowflake-44 {
        0% {
            transform: rotate(0deg);
            left: 7%;
            top: -99%;
        }
        25% {
            left: 8%;
        }
        50% {
            left: 7%;
        }
        75% {
            left: 9%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 139%;
            opacity: 0;
        }
    }
    /* Snowflake #45 */
    .snowflake:nth-of-type(45) {
        animation-name: snowflake-45;
        animation-delay: 12s;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        left: 66%;
        top: -78%;
    }
    .snowflake:nth-of-type(45):after {
        font-size: 16px;
    }
    @keyframes snowflake-45 {
        0% {
            transform: rotate(0deg);
            left: 66%;
            top: -78%;
        }
        25% {
            left: 67%;
        }
        50% {
            left: 66%;
        }
        75% {
            left: 68%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 118%;
            opacity: 0;
        }
    }
    /* Snowflake #46 */
    .snowflake:nth-of-type(46) {
        animation-name: snowflake-46;
        animation-delay: 19s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 85%;
        top: -92%;
    }
    .snowflake:nth-of-type(46):after {
        font-size: 12px;
    }
    @keyframes snowflake-46 {
        0% {
            transform: rotate(0deg);
            left: 85%;
            top: -92%;
        }
        25% {
            left: 86%;
        }
        50% {
            left: 85%;
        }
        75% {
            left: 87%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 132%;
            opacity: 0;
        }
    }
    /* Snowflake #47 */
    .snowflake:nth-of-type(47) {
        animation-name: snowflake-47;
        animation-delay: 5s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 71%;
        top: -90%;
    }
    .snowflake:nth-of-type(47):after {
        font-size: 12px;
    }
    @keyframes snowflake-47 {
        0% {
            transform: rotate(0deg);
            left: 71%;
            top: -90%;
        }
        25% {
            left: 72%;
        }
        50% {
            left: 71%;
        }
        75% {
            left: 73%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 130%;
            opacity: 0;
        }
    }
    /* Snowflake #48 */
    .snowflake:nth-of-type(48) {
        animation-name: snowflake-48;
        animation-delay: 17s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 94%;
        top: -98%;
    }
    .snowflake:nth-of-type(48):after {
        font-size: 18px;
    }
    @keyframes snowflake-48 {
        0% {
            transform: rotate(0deg);
            left: 94%;
            top: -98%;
        }
        25% {
            left: 95%;
        }
        50% {
            left: 94%;
        }
        75% {
            left: 96%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 138%;
            opacity: 0;
        }
    }
    /* Snowflake #49 */
    .snowflake:nth-of-type(49) {
        animation-name: snowflake-49;
        animation-delay: 5s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 25%;
        top: -56%;
    }
    .snowflake:nth-of-type(49):after {
        font-size: 16px;
    }
    @keyframes snowflake-49 {
        0% {
            transform: rotate(0deg);
            left: 25%;
            top: -56%;
        }
        25% {
            left: 26%;
        }
        50% {
            left: 25%;
        }
        75% {
            left: 27%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 96%;
            opacity: 0;
        }
    }
    /* Snowflake #50 */
    .snowflake:nth-of-type(50) {
        animation-name: snowflake-50;
        animation-delay: 9s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 92%;
        top: -60%;
    }
    .snowflake:nth-of-type(50):after {
        font-size: 2px;
    }
    @keyframes snowflake-50 {
        0% {
            transform: rotate(0deg);
            left: 92%;
            top: -60%;
        }
        25% {
            left: 93%;
        }
        50% {
            left: 92%;
        }
        75% {
            left: 94%;
            opacity: 1;
        }
        100% {
            transform: rotate(360deg);
            top: 100%;
            opacity: 0;
        }
    }
    .snowflake:nth-of-type(51):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #52 */
    .snowflake:nth-of-type(52):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #53 */
    .snowflake:nth-of-type(53):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #54 */
    .snowflake:nth-of-type(54):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #55 */
    .snowflake:nth-of-type(55):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #56 */
    .snowflake:nth-of-type(56):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #57 */
    .snowflake:nth-of-type(57):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #58 */
    .snowflake:nth-of-type(58):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #59 */
    .snowflake:nth-of-type(59):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #60 */
    .snowflake:nth-of-type(60):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #61 */
    .snowflake:nth-of-type(61):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #62 */
    .snowflake:nth-of-type(62):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #63 */
    .snowflake:nth-of-type(63):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #64 */
    .snowflake:nth-of-type(64):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #65 */
    .snowflake:nth-of-type(65):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #66 */
    .snowflake:nth-of-type(66):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #67 */
    .snowflake:nth-of-type(67):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #68 */
    .snowflake:nth-of-type(68):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #69 */
    .snowflake:nth-of-type(69):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #70 */
    .snowflake:nth-of-type(70):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #71 */
    .snowflake:nth-of-type(71):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #72 */
    .snowflake:nth-of-type(72):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #73 */
    .snowflake:nth-of-type(73):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #74 */
    .snowflake:nth-of-type(74):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #75 */
    .snowflake:nth-of-type(75):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #76 */
    .snowflake:nth-of-type(76):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #77 */
    .snowflake:nth-of-type(77):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #78 */
    .snowflake:nth-of-type(78):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #79 */
    .snowflake:nth-of-type(79):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #80 */
    .snowflake:nth-of-type(80):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #81 */
    .snowflake:nth-of-type(81):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #82 */
    .snowflake:nth-of-type(82):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #83 */
    .snowflake:nth-of-type(83):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #84 */
    .snowflake:nth-of-type(84):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #85 */
    .snowflake:nth-of-type(85):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #86 */
    .snowflake:nth-of-type(86):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #87 */
    .snowflake:nth-of-type(87):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #88 */
    .snowflake:nth-of-type(88):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #89 */
    .snowflake:nth-of-type(89):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #90 */
    .snowflake:nth-of-type(90):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #91 */
    .snowflake:nth-of-type(91):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #92 */
    .snowflake:nth-of-type(92):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #93 */
    .snowflake:nth-of-type(93):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #94 */
    .snowflake:nth-of-type(94):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #95 */
    .snowflake:nth-of-type(95):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #96 */
    .snowflake:nth-of-type(96):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #97 */
    .snowflake:nth-of-type(97):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #98 */
    .snowflake:nth-of-type(98):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #99 */
    .snowflake:nth-of-type(99):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #100 */
    .snowflake:nth-of-type(100):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #101 */
    .snowflake:nth-of-type(101):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #102 */
    .snowflake:nth-of-type(102):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #103 */
    .snowflake:nth-of-type(103):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #104 */
    .snowflake:nth-of-type(104):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #105 */
    .snowflake:nth-of-type(105):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #106 */
    .snowflake:nth-of-type(106):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #107 */
    .snowflake:nth-of-type(107):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #108 */
    .snowflake:nth-of-type(108):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #109 */
    .snowflake:nth-of-type(109):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #110 */
    .snowflake:nth-of-type(110):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #111 */
    .snowflake:nth-of-type(111):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #112 */
    .snowflake:nth-of-type(112):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #113 */
    .snowflake:nth-of-type(113):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #114 */
    .snowflake:nth-of-type(114):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #115 */
    .snowflake:nth-of-type(115):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #116 */
    .snowflake:nth-of-type(116):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #117 */
    .snowflake:nth-of-type(117):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #118 */
    .snowflake:nth-of-type(118):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #119 */
    .snowflake:nth-of-type(119):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #120 */
    .snowflake:nth-of-type(120):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #121 */
    .snowflake:nth-of-type(121):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #122 */
    .snowflake:nth-of-type(122):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #123 */
    .snowflake:nth-of-type(123):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #124 */
    .snowflake:nth-of-type(124):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #125 */
    .snowflake:nth-of-type(125):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #126 */
    .snowflake:nth-of-type(126):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #127 */
    .snowflake:nth-of-type(127):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #128 */
    .snowflake:nth-of-type(128):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #129 */
    .snowflake:nth-of-type(129):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #130 */
    .snowflake:nth-of-type(130):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #131 */
    .snowflake:nth-of-type(131):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #132 */
    .snowflake:nth-of-type(132):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #133 */
    .snowflake:nth-of-type(133):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #134 */
    .snowflake:nth-of-type(134):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #135 */
    .snowflake:nth-of-type(135):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #136 */
    .snowflake:nth-of-type(136):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #137 */
    .snowflake:nth-of-type(137):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #138 */
    .snowflake:nth-of-type(138):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #139 */
    .snowflake:nth-of-type(139):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #140 */
    .snowflake:nth-of-type(140):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #141 */
    .snowflake:nth-of-type(141):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #142 */
    .snowflake:nth-of-type(142):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #143 */
    .snowflake:nth-of-type(143):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #144 */
    .snowflake:nth-of-type(144):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #145 */
    .snowflake:nth-of-type(145):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #146 */
    .snowflake:nth-of-type(146):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #147 */
    .snowflake:nth-of-type(147):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #148 */
    .snowflake:nth-of-type(148):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #149 */
    .snowflake:nth-of-type(149):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #150 */
    .snowflake:nth-of-type(150):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #151 */
    .snowflake:nth-of-type(151):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #152 */
    .snowflake:nth-of-type(152):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #153 */
    .snowflake:nth-of-type(153):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #154 */
    .snowflake:nth-of-type(154):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #155 */
    .snowflake:nth-of-type(155):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #156 */
    .snowflake:nth-of-type(156):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #157 */
    .snowflake:nth-of-type(157):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #158 */
    .snowflake:nth-of-type(158):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #159 */
    .snowflake:nth-of-type(159):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #160 */
    .snowflake:nth-of-type(160):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #161 */
    .snowflake:nth-of-type(161):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #162 */
    .snowflake:nth-of-type(162):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #163 */
    .snowflake:nth-of-type(163):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #164 */
    .snowflake:nth-of-type(164):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #165 */
    .snowflake:nth-of-type(165):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #166 */
    .snowflake:nth-of-type(166):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #167 */
    .snowflake:nth-of-type(167):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #168 */
    .snowflake:nth-of-type(168):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #169 */
    .snowflake:nth-of-type(169):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #170 */
    .snowflake:nth-of-type(170):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #171 */
    .snowflake:nth-of-type(171):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #172 */
    .snowflake:nth-of-type(172):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #173 */
    .snowflake:nth-of-type(173):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #174 */
    .snowflake:nth-of-type(174):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #175 */
    .snowflake:nth-of-type(175):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #176 */
    .snowflake:nth-of-type(176):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #177 */
    .snowflake:nth-of-type(177):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #178 */
    .snowflake:nth-of-type(178):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #179 */
    .snowflake:nth-of-type(179):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #180 */
    .snowflake:nth-of-type(180):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #181 */
    .snowflake:nth-of-type(181):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #182 */
    .snowflake:nth-of-type(182):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #183 */
    .snowflake:nth-of-type(183):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #184 */
    .snowflake:nth-of-type(184):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #185 */
    .snowflake:nth-of-type(185):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #186 */
    .snowflake:nth-of-type(186):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #187 */
    .snowflake:nth-of-type(187):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #188 */
    .snowflake:nth-of-type(188):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #189 */
    .snowflake:nth-of-type(189):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #190 */
    .snowflake:nth-of-type(190):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #191 */
    .snowflake:nth-of-type(191):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #192 */
    .snowflake:nth-of-type(192):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #193 */
    .snowflake:nth-of-type(193):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #194 */
    .snowflake:nth-of-type(194):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #195 */
    .snowflake:nth-of-type(195):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #196 */
    .snowflake:nth-of-type(196):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #197 */
    .snowflake:nth-of-type(197):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #198 */
    .snowflake:nth-of-type(198):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #199 */
    .snowflake:nth-of-type(199):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #200 */
    .snowflake:nth-of-type(200):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #201 */
    .snowflake:nth-of-type(201):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #202 */
    .snowflake:nth-of-type(202):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #203 */
    .snowflake:nth-of-type(203):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #204 */
    .snowflake:nth-of-type(204):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #205 */
    .snowflake:nth-of-type(205):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #206 */
    .snowflake:nth-of-type(206):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #207 */
    .snowflake:nth-of-type(207):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #208 */
    .snowflake:nth-of-type(208):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #209 */
    .snowflake:nth-of-type(209):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #210 */
    .snowflake:nth-of-type(210):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #211 */
    .snowflake:nth-of-type(211):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #212 */
    .snowflake:nth-of-type(212):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #213 */
    .snowflake:nth-of-type(213):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #214 */
    .snowflake:nth-of-type(214):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #215 */
    .snowflake:nth-of-type(215):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #216 */
    .snowflake:nth-of-type(216):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #217 */
    .snowflake:nth-of-type(217):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #218 */
    .snowflake:nth-of-type(218):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #219 */
    .snowflake:nth-of-type(219):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #220 */
    .snowflake:nth-of-type(220):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #221 */
    .snowflake:nth-of-type(221):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #222 */
    .snowflake:nth-of-type(222):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #223 */
    .snowflake:nth-of-type(223):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #224 */
    .snowflake:nth-of-type(224):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #225 */
    .snowflake:nth-of-type(225):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #226 */
    .snowflake:nth-of-type(226):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #227 */
    .snowflake:nth-of-type(227):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #228 */
    .snowflake:nth-of-type(228):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #229 */
    .snowflake:nth-of-type(229):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #230 */
    .snowflake:nth-of-type(230):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #231 */
    .snowflake:nth-of-type(231):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #232 */
    .snowflake:nth-of-type(232):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #233 */
    .snowflake:nth-of-type(233):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #234 */
    .snowflake:nth-of-type(234):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #235 */
    .snowflake:nth-of-type(235):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #236 */
    .snowflake:nth-of-type(236):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #237 */
    .snowflake:nth-of-type(237):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #238 */
    .snowflake:nth-of-type(238):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #239 */
    .snowflake:nth-of-type(239):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #240 */
    .snowflake:nth-of-type(240):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #241 */
    .snowflake:nth-of-type(241):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #242 */
    .snowflake:nth-of-type(242):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #243 */
    .snowflake:nth-of-type(243):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #244 */
    .snowflake:nth-of-type(244):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #245 */
    .snowflake:nth-of-type(245):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #246 */
    .snowflake:nth-of-type(246):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #247 */
    .snowflake:nth-of-type(247):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #248 */
    .snowflake:nth-of-type(248):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #249 */
    .snowflake:nth-of-type(249):after {
        content: var(--theme-aucun);
    }
    /* Snowflake #250 */
    .snowflake:nth-of-type(250):after {
        content: var(--theme-aucun);
    }
}